body {
 
    background-image: url("https://previews.123rf.com/images/pcanzo/pcanzo1309/pcanzo130900033/21960098-un-vector-de-dibujos-animados-que-representa-un-marco-horizontal-de-comida-r%C3%A1pida-%C3%BAtil-para-los-men%C3%BA.jpg");
  }
  H1 {
    text-align: center;
    color : red;
  }
  
  H2 {
    TEXT-ALIGN:CENTER;
  }
  .menu{
    float: center;
    margin: 0px 50px 0px;
    padding: 0px 50px 0px;

  }
  img{
    float: left;
    margin: 0px 50px 0px;
    padding: 0px 50px 0px;
  }
  .parrafo {
    text-align:center;
    float: center;
  }
  .imgfooter {
float: left;

  }
.imgfooter2{
  float: right;
  
}


 